body {
    background-color: rgb(179, 183, 185);
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 85vh;
}
.calculator {
    background: rgb(160,157,209);
    background: linear-gradient(114deg, rgba(160,157,209,1) 0%, rgba(100,100,255,1) 36%, rgba(99,229,255,1) 72%); 
    height: 561px;
    width: 440px;
    border: 1px solid rgb(160,157,209);
    border-radius: 10px;
}
.screencont {
    position: absolute;
    top: 19%;
    left: 41%;
    margin-right: -50%;
}
.screen {
    background: white;
    height: 60px;
    width: 35vh;
    border-radius: 10px;
    text-align: right;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.results {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    left: 56%;
    bottom: 75%;
}
.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.buttons:hover {
    background: rgb(185, 228, 245);
}
#buttonGrid > .ac:hover,.c:hover {
    background: rgb(233, 233, 233);
}
#buttonGrid > #minus:hover, #plus:hover, #add:hover, #divide:hover, #percent:hover, #times:hover {
    background: rgb(255, 255, 255);
}
#buttonGrid > #equals:hover {
    background: rgb(233, 233, 233);
}
.buttons {
    width: 73px;
    height: 67px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(141, 213, 241);
    border-radius: 10px;
    border: none;
}
.c {
    width: 73px;
    height: 67px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
}
.ac {
    width: 73px;
    height: 67px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
}
#percent {
    width: 73px;
    height: 67px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(188, 236, 255);
    border-radius: 10px;
    border: none;
}
#divide {
    width: 73px;
    height: 67px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(188, 236, 255);
    border-radius: 10px;
    border: none;
}
#times {
    width: 73px;
    height: 67px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(188, 236, 255);
    border-radius: 10px;
    border: none;
}
#minus {
    width: 73px;
    height: 67px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(188, 236, 255);
    border-radius: 10px;
    border: none;
}
#buttonGrid {
    display: inline-grid;
    grid-template-columns: 85px 85px 85px 75px;
    grid-template-rows: 81px 78px 78px 78px;
}
#equals {
    width: 159px;
    height: 68px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
}
#plus {
    width: 73px;
    height: 67px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(188, 236, 255);
    border-radius: 10px;
    border: none;
}
